section {
    background: rgb(89, 210, 250);
    color: rgb(223, 10, 212);
    padding: 15px;
    width:100%;
    margin: 3px;
    height: 100%
}

#row1 section {
    background:red;
}

#row2 section {
    background: rgb(16, 182, 30);
}

#row3 section {
    background: rgb(89, 210, 250);
}

/* use these styles on large screens eg) laptop or desktop*/
@media only screen and (min-width: 768px) {

 
 .columns {
       display:flex;
    }

    body {
        background:url(images/Vision101.webp);
    }
    .one {
        flex:1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }

    } 



.box {

}
    border-radius: 25px;